body {
  background-color: rgb(235, 235, 235) !important;    
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(30, 71, 160) 40%, rgb(34, 90, 202) 100%);
  width: 90%;
  height: 80px;
  margin-left: 5%;
}