body {
  background-color: #f3f3f3 !important;
  margin: 0 !important;
}

.root {
  --main-color: rgb(38, 94, 213);
}

.languageToggler {
  color: #999 !important;
}

.languageToggler:hover {
  color: #f1f1f1 !important;
}

.ui.active.button.languageToggler {
  color: #f1f1f1 !important;
}

.ui.active.basic.button.customButtonActive {
  color: #fff !important;
  background-color: rgb(255, 200, 0, 1) !important; 
  box-shadow: none !important;
}

.ui.active.basic.button.customButtonInactive {
  background-color: rgb(255, 255, 255, 1) !important;
  border: none !important;
  box-shadow: none !important;
}

.ui.inverted.button.show-photos {
  color: #e4e4e4 !important;
  box-shadow: none !important;
}

.ui.inverted.button.show-photos:focus {
  color: #fff !important;
  box-shadow: none !important;
}

.ui.inverted.button.show-photos:active {
  color: #fff !important;
  box-shadow: none !important;
}

.ui.inverted.button.show-photos:hover {
  color: #fff !important;
  box-shadow: none !important;
}


.ui.basic.button.image-crud-button {
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ui.basic.button.image-crud-button:focus {
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ui.basic.button.image-crud-button:active {
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ui.basic.button.image-crud-button:hover {
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ui.basic.button.image-crud-button:focus>i {
  color: #fff !important;
}

.ui.basic.button.image-crud-button:hover>i {
  color: #fff !important;
}

.ui.basic.button.show-password {
  transition: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ui.basic.button.show-password:focus {
  transition: none !important;
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ui.basic.button.show-password:active {
  transition: none !important;
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ui.basic.button.show-password:hover {
  transition: none !important;
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.ui.basic.button.show-password:focus>i {
  transition: none !important;
  color: #333333 !important;
}

.ui.basic.button.show-password:hover>i {
  transition: none !important;
  color: #333333 !important;
}

.ui.inverted.menu {
  background-color: rgb(30, 71, 160) !important;
  height: 5rem !important;
  width: 100% !important;
  margin: 0 !important;
}

.ui.menu.inverted-mobile {
  background-color: rgb(30, 71, 160) !important;
  height: 4rem !important;
  width: 100% !important;
  margin: 0 !important;
  padding-top: 0.5rem !important;
}

.masthead {
  background-image: linear-gradient(135deg, rgb(30, 71, 160) 40%, rgb(34, 90, 202) 100%) !important;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.sidebar-transition-enter {
  left: -18rem;
}

/* This is where we can add the transition*/
.sidebar-transition-enter-active {
  left: 0;
  transition: ease-in-out 400ms;
}

/* This fires as soon as the this.state.showList is false */
.sidebar-transition-exit {
  left: 0;
}

/* fires as element leaves the DOM*/
.sidebar-transition-exit-active {
  left: -18rem;
  transition: ease-in-out 400ms;
}


.fade-enter {
  opacity: 0;
}

/* This is where we can add the transition*/
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.item.fade.customListItem.visible.transition {
  display: inline-table !important;
}

.ui.huge.middle.aligned.list.fade.customTransitionContainer {
  display: contents !important;
  z-index: 1 !important;
}

.ui.huge.middle.aligned.list.fade.customTransitionContainer>.visible.transition {
  display: inline-block !important;
  z-index: 1 !important;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.slider {
  display: inline;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #1e47a0;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 5px;
  position: absolute;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider:disabled {
  opacity: 0.2;
}

.slider:disabled+.input-suboption-range-value {
  opacity: 0.2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #1b1b1b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #1b1b1b;
  cursor: pointer;
}

.bkgr-img-preview {
  width: 100% !important;
  min-width: 100% !important;
  display: relative !important;
}

.footer-link {
  
}
.footer-link:hover {
  text-decoration: underline;
}